mat-expansion-panel, mat-card-content {
  margin-bottom: 0.1rem;
}

.answer {
  transition: 0.3s;
  margin-bottom: 1em;
}
.answer:hover {
  background-color: rgba(200,200,200,.75);
}

.answer:active {
  background-color: rgba(0,0,0, .45);
  transition: 0.1s;
}

.correct {
  border: solid green 1px;
}

.incorrect {
  border: solid red 1px;
}
