<mat-accordion *ngIf="questionsService.questions && this.type==='normal'">
  <mat-expansion-panel *ngFor="let question of questionsService.questions;  let lastItem = last">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h3 innerHtml="{{question.title}}"></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div innerHtml="{{question.body}}"></div>
    <mat-divider *ngIf='!lastItem'></mat-divider>
    <div *ngFor="let answer of question.answers">
      <mat-card class="answer" [ngClass]="{'answer' : !show, 'correct' : show && answer.is_accepted, 'incorrect' : show && !answer.is_accepted}" (click)="scorePointsAndUpdate(question, answer)" matTooltip="Click to guess this as the accepted answer." matTooltipPosition="before">
        <mat-card-title>Answer:</mat-card-title>
        <mat-card-content>
          <h2 class='blue' *ngIf='showGuesses'>Guess Count: {{answer.guess_count}}</h2>
          <div innerHtml="{{answer.body}}"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngIf="questionsService.guessedQuestions && this.type==='guessed'" >
  <mat-expansion-panel *ngFor="let guessedQuestion of questionsService.guessedQuestions; let i = index; let lastItem = last">
    <mat-expansion-panel-header *ngIf="i<10">
      <mat-panel-title >
        <h3 innerHtml="{{guessedQuestion.title}}"></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div innerHtml="{{guessedQuestion.body}}"></div>
    <mat-divider *ngIf='!lastItem'></mat-divider>
    <div *ngFor="let answer of guessedQuestion.answers">
      <mat-card [ngClass]="{'answer' : !show, 'correct' : show && answer.is_accepted, 'incorrect' : show && !answer.is_accepted}" (click)="scorePointsAndUpdate(guessedQuestion, answer)" matTooltip="Click to guess this as the accepted answer." matTooltipPosition="before">
        <mat-card-title>Answer:</mat-card-title>
        <mat-card-content>
          <h2 class='blue' *ngIf='showGuesses'>Guess Count: {{answer.guess_count}}</h2>
          <div innerHtml="{{answer.body}}"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
