<mat-accordion >
  <mat-expansion-panel *ngFor="let question of questions;  let lastItem = last">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h3 innerHtml="{{question.title}}"></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div innerHtml="{{question.body}}"></div>
    <mat-divider *ngIf='!lastItem'></mat-divider>
    <div *ngFor="let answer of question.answers">
      <mat-card class="answer" (click)="scorePointsAndUpdate(question, answer)" matTooltip="Click to guess this as the accepted answer." matTooltipPosition="before">
        <mat-card-title>Answer:</mat-card-title>
        <mat-card-content>
          <div innerHtml="{{answer.body}}"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
